 html {
   position: relative;
   height: 700px;
 }

 header {
   height: 75px;
   width: 100%;
   position: absolute; top:0px;
   background-color: #948BDB;
 }

 .application_body {
   height: 0px;
   text-align: center;
 }

 .application_button {
   margin-top: 35px;
 }

 footer {
   height: 50px;
   width: 100%;
   background-color: green;
   position: absolute; bottom:0px;
 }
