 html {
   position: relative;
   height: 700px;
 }

 header {
   height: 75px;
   width: 100%;
   background-color: #948BDB;
   position: absolute; top:0px;
  }

  body {
    background-color: #C0C0C0;
  }

  .sign_up-login-form {
    background-color: #00ffCC;
    word-wrap: break-word;
  }

 .application_body {
   height: 0px;
   text-align: center;
 }

 .application_button {
   margin-top: 35px;
 }

 footer {
   height: 50px;
   width: 100%;
   background-color: green;
   position: absolute; bottom:-180px;
 }
